<<<<<<< HEAD
/*         
        This css file has everything needed for a 3-stage
        responsive layout for phone, tablet and desktop views 
        including smooth transitions between.
*/

/*        
        PRE-EMPTIVE STANDARD SIZE RESET        
=======
/* 	
	This css file has everything needed for a 3-stage
   	responsive layout for phone, tablet and desktop views 
   	including smooth transitions between.
*/

/*	
	PRE-EMPTIVE STANDARD SIZE RESET	
>>>>>>> e5cf497c26c535fd0bf8b0d7fc0d065c636a8a2f
*/
a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, 
em, embed,
fieldset, figcaption, figure, font, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd, 
keygen,
label, legend, li, 
meter,
nav,
object, ol, output,
p, pre, progress,
q, 
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, 
var {
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline; 
}


/*  
<<<<<<< HEAD
        regular css
        section
        adjust for:
        NORMAL DESKTOP LAYOUT 
*/

html, body {
        height:100%;
        margin:0;
        padding:0;
=======
	regular css
	section
	adjust for:
	NORMAL DESKTOP LAYOUT 
*/

html, body {
	height:100%;
	margin:0;
	padding:0;
>>>>>>> e5cf497c26c535fd0bf8b0d7fc0d065c636a8a2f
}

p, h1, h2, h3 { /* transitions for affected styles */                
        -webkit-transition-property: width;
        -moz-transition-property: width;
        transition-property: width;
        -webkit-transition-duration: 0.5s, 0.5s;
        -moz-transition-duration: 0.5s, 0.5s;
        transition-duration: 0.5s, 0.5s; 
        -webkit-transition-timing function: linear, ease-in;
        -moz-transition-timing function: linear, ease-in; 
        transition-timing function: linear, ease-in;
}

p, h1, h2, h3 {                                                
        font-size:xx-large;
}



@media screen and (min-width: 471px) and (max-width: 801px)         {
        
/*  
<<<<<<< HEAD
        adjust for
        SMART PHONE HORIZONTAL
        ~&~
        TABLET HELD UPRIGHT 
=======
	adjust for
	vertical layout:
	SMART PHONE HELD UPRIGHT 
>>>>>>> e5cf497c26c535fd0bf8b0d7fc0d065c636a8a2f
*/

p, h1, h2, h3 {                                        
        font-size:medium;
}
        
}


@media screen and (max-width: 470px)         {
        
/*  
<<<<<<< HEAD
        adjust for
        vertical layout:
        SMART PHONE HELD UPRIGHT 
*/
        
p, h1, h2, h3 {                                        
        font-size:xx-small;
=======
	adjust for
	SMART PHONE HORIZONTAL
	~&~
	TABLET HELD UPRIGHT 
*/

p, h1, h2, h3 {					
	font-size:medium;
>>>>>>> e5cf497c26c535fd0bf8b0d7fc0d065c636a8a2f
}
        
}

img {
<<<<<<< HEAD
        max-width: 100%;
        height: auto;
        width: auto\9; /* ie8-9 hack */
}
=======
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8-9 hack */
}
>>>>>>> e5cf497c26c535fd0bf8b0d7fc0d065c636a8a2f
