@charset "utf-8";
/* CSS Document */
body {
 margin-left: auto ;
    margin-right: auto ;
 
}
#enclosure {
 width:100%;
 min-width: 900px;
 text-align:center;
}
#enclosure1 {
 width:900px;
 margin-left: auto;
    margin-right: auto;
 text-align:left;
}
#enclosure2 {
 width:78%;
 margin-left: 10% ;
    margin-right: 3% ;
 text-align:center;
}
#enclosure3 {
 width:20%;
 margin-left: 0 ;
    margin-right: 0 ;
 text-align:center;
 float:right;
 
}
#cardface {
 float:left;
 padding:0;
 margin:0px;
 background-color:#fff;
 text-align:center;
}
#cardfaceenclosure{
 float:left;
 width:320px;
 padding:0;
 margin:0;
 background-color:#fff;
 text-align:center;
}
#carddescr {
 float:left;
 padding:10px;
 text-align:center;
 
}
#text {
 float:left;
 padding:0px 0px 0px 20px;
 margin: 0;
 width:500px;
 height:500px;
 overflow-y:auto;overflow-x:hidden;
 text-align:left;
}
#closebox {
 float:right;
 top:-15px;
 right:0px;
 padding:0px;
 margin:0px;
 position:relative;
}
#closebox a {
 font-family: 'IM Fell DW Pica SC', Georgia, "Times New Roman", serif;
 font-size:36px;
 text-decoration:none;
 color:#666;
}
#closebox a:hover {
 color:#000;
}
.btn {
 -webkit-border-radius: 20;
 -moz-border-radius: 20;
 border-radius: 20px;
 font-family: 'IM Fell DW Pica SC', Georgia, "Times New Roman", serif;
 font-size:32px;
 color:#000;
 background: #999;
 padding: 0px 8px 4px 8px;
 margin:0;
 text-decoration: none;
 border:0px;
 outline: none;
}
.btn:hover {
 background: #ddd;
 text-decoration: none;
 color:#666;
}
select {
    padding: 10px 15px 5px 25px;
    margin: 0 0 10px 0;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    background: #999;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
 font-family: 'IM Fell DW Pica SC', Georgia, "Times New Roman", serif;
 font-size:18px;
 color:#000;
}
h2 {
 font-family: 'IM Fell DW Pica SC', Georgia, "Times New Roman", serif;
 font-size:36px;
 color:#666;
 font-weight:normal;
 /*font: 30px/1.0 Papyrus, Georgia, "Times New Roman", Times, serif;*/
 margin:0 0 35px 0;
 padding:0;
}
h3 {
 font-family: 'IM Fell DW Pica SC', Georgia, "Times New Roman", serif;
 font-size:30px;
 color:#666;
 font-weight:normal;
 /*font: 30px/1.0 Papyrus, Georgia, "Times New Roman", Times, serif;*/
 margin:20px 0;
 padding:0;
 text-align:center;
}
p {
 font-family: 'IM Fell Double Pica', Georgia, "Times New Roman", serif;
 font-size:20px;
 color:#000;
 /*font: 16px/1.6 Georgia, "Times New Roman", Times, serif;*/
 margin:25px 0;
 padding:0;
}
.descr {
 font-family: 'IM Fell DW Pica SC', Georgia, "Times New Roman", serif;
 font-size:20px;
 color:#666;
}
#cardbox {
 position:relative;
 width:100px;
 text-align:center;
}
#card {
 width:100px;
 height:5px;
 position:relative;
}
#threecards {
 margin: 0 auto;
 text-align:center;
 position:relative;
}
#space0 {
 width:180px;
 margin:5px 20px;
 float:left;
 position:relative;
 text-align:center;
}
#threecard0 {
 width:180px;
 height:306px;
 border:2px dashed #000;
 border-radius: 8px;
 padding:0px;
}
#space1 {
 width:180px;
 margin:5px 20px;
 float:left;
 position:relative;
 text-align:center;
}
#threecard1 {
 width:180px;
 height:306px;
 border:2px dashed #000;
 border-radius: 8px;
 padding:0px;
}
#space2 {
 width:180px;
 margin:5px 20px;
 float:left;
 position:relative;
 text-align:center;
}
#threecard2 {
 width:180px;
 height:306px;
 border:2px dashed #000;
 border-radius: 8px;
 padding:0px;
}
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
#boxes .window {
  position:fixed;
  left:0;
  top:0;
  width:860px;
  height:510px;
  display:none;
  z-index:9999;
  padding:20px;
  background-color:#ffffff;
}
